<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->


  <div class="logo-img">

    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= cl_image_tag("Bloco_D_-_WEB_2x_tgtdvv.png", :crop=>"scale") %>

    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

      <div class="menu-top">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#sobre">Quem Somos</a>
              </li>
              <li>
                  <a class="page-scroll" href="#diferenciais">Diferenciais</a>
              </li>
              <li>
                  <a class="page-scroll" href="#solucoes">O Sistema BEBO</a>
              </li>
              <li>
                  <a class="page-scroll" href="#servicos">Serviços</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contato</a>
              </li>
          </ul>
      </div>

    <!-- Notification -->


    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">A Bloco D</a></li>
        <li><a href="#">Soluções Estruturais</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</div>
