<div class="banner" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37//v1493042714/wp-20151009-16-47-05-pro_chgi6o.jpg); width: : 100%;">

</div>


<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-text">
          <h2>HISTÓRIA</h2>
          <p>O desenvolvimento da tecnologia começou no início da década de 60 com o primeiro teste em escala real realizado em 1965. A primeira aplicação comercial foi construída vem 1967 próxima a Zurique e se encontra ainda em serviço sem ter passado por manutenção. De lá para cá, mais de 1200 obras utilizando o sistema já foram executadas no mundo. A sede da equipe técnica da BEBO ® fica localizada em Zurique na Suíça. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div style="padding-top: 50px;"> <%= cl_image_tag("bebo_1st_foto_o14c8x.png") %></div>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37/v1493042714/dscf1418_mrustm.jpg); width: : 100%;">

</div>


<div class="about-bebo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-bebo-img">
           <%= cl_image_tag("3_nyi2ml.png", :secure=>true)%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-text" style="width: 100%;">
          <h3>ETAPAS BÁSICAS</h3>
          <p>1. Preparação do terreno</p>
          <p>2. Execução da fundação e instalação dos drenos.</p>
          <p>3. Nivelamento dos berços com calços.</p>
          <p>4. Montagem dos elementos de arco(no caso de arcos duplos, utilizam-se dois guindastes simultaneamente).</p>
          <p>5. Montagem dos muros de ala e fechamento(no caso de utilização de terra armada, esta é montada simultaneamente à execução do aterro).</p>
          <p>6. Preenchimento dos berços com graute,</p>
          <p>7. Concretagem da chave (apenas no caso de arcos duplos)</p>
          <p>8. Impermeabilização das juntas entre pré-moldados.</p>
          <p>9. Execução do aterro simultaneamente nas duas laterais da estrutura.</p>
          <p>10.Execução (ou montagem) das barreiras e pavimentação.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37/v1493042594/advantages-economy_urrko5.jpg); width: : 100%;">

</div>

<div class="about-formas" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <ul>
          <li>SERIE E</li>
        </ul>
        <p>Forma de arco epilítico</p>
        <p>Vãos de 3,7 a 25,6 m</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
       <!--   <div class="formas-img"> -->
           <%= cl_image_tag("e-series_glvdae.png", :height=>0.3, :crop=>"scale")%>
        <!-- </div> -->
      </div>
    </div>
     <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-6">
        <ul>
          <li>SERIE C</li>
        </ul>
        <p>Forma de arco circular</p>
        <p>Vãos de 9,1 a 16,4 m</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!--  <div class="formas-img"> -->
           <%= cl_image_tag("c-series_djvupu.png", :height=>0.3, :crop=>"scale")%>
        <!-- </div> -->
      </div>
    </div>
     <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-6">
        <ul>
          <li>SERIE T</li>
        </ul>
        <p>Forma de arco abatido</p>
        <p>Vãos de 10,0 a 30,0 m</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
       <!--  <div class="formas-img"> -->
           <%= cl_image_tag("t-series_aesnho.png", :height=>0.3, :crop=>"scale")%>
     <!--    </div> -->
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37/v1493042714/dscf1418_mrustm.jpg); width: : 100%;">

</div>

<div class="caract">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <ul>
          <li>ECONOMIA</li>
          <p>Menos uso de concreto e aço se comparado a solução convencional. Geralmente leva a
            redução do custo total da obra.</p>
        </ul>
        <ul>
          <li>RAPIDEZ</li>
          <p>Rápida montagem da superestrutura pré-moldada. Ideal para obras com prazos curtos..</p>
        </ul>
        <ul>
          <li>CONFORTO</li>
          <p>Sem juntas, sem descontinuidade no pavimento e sem necessidade de laje de transição.</p>
        </ul>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-6">
        <ul>
          <li>BAIXA MANUTENÇÃO</li>
          <p>O sistema de arco aterrado não requer junta nem aparelhos de apoio. Não há desgaste da laje pela passagem de veículos pesados</p>
        </ul>
        <ul>
          <li>ESTÉTICA</li>
          <p>Obras de arte com aparência agradável sem agressão visual ao ambiente.</p>
        </ul>
        <ul>
          <li>VERSATILIDADE</li>
          <p>Pontes, bueiros, galerias, passagens inferiores e superiores e túneis falsos.</p>
        </ul>
      </div>
    </div>
  </div>
</div>
